<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="COV.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CovidPedia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/news">News</a>
          <a class="nav-item nav-link" href="/mythbusters">MythBusters</a>
          <a class="nav-item nav-link" href="/numbers">Covid19 Cases</a>
          <a class="nav-item nav-link" href="/prevention">Prevention Techniques</a>
          <a class="nav-item nav-link" href="/vaccine">Vaccine</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1 class="display-4">CovidPedia</h1>
      <p class="lead">Your Covid - 19 Encyclopedia</p>
      <hr class="my-4">
      <p>A Perfect Answers For All Your Covid-19 Related Queries</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <img src="https://www.un.org/sites/un2.un.org/files/be_kind_to_address_stigma.jpg" class="thumbnail img-fluid">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <img src="https://www.un.org/sites/un2.un.org/files/be_smart_if_you_develop.jpg" class="thumbnail img-fluid">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <img src="https://www.un.org/sites/un2.un.org/files/be_safe.jpg" class="thumbnail img-fluid">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/1200px-Question_mark_%28black%29.svg.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Why MythBusters</h5>
                <p class="card-text">It causes contraction and then prejudices, then bigotry, and eventually violence.</p>
                <a href="/mythbusters" class="btn btn-primary">Let's Break Some Myths</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://scitechdaily.com/images/COVID-19-Coronavirus-Vaccine.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Vaccine Updates</h5>
                <p class="card-text">Lets Be Updated with the growing need of vaccine for Covid-19</p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stability">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>